<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <br>
        <br>
        <img src="assets\images\IMG_3518.PNG" class="rounded border border-4" style="margin-left: auto; margin-right: auto; display: block; width: 40%;"/>
        <br>
        <br>
    </div>
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-6">
        <p style="font-size: larger; ;">
            In 2019 I decided to create an application that was able to make an impact on other people's lives. Since
            then I
            have made it my own mission
            to continue to use any knowledge I have to continue to engage and create new and exciting software that not
            only
            impact others, but
            inspire others to do the same. I have had the priviledge of working in multiple working environments such as
            a
            start-up, a consultancy
            agency, and two large corporate banks.
            <br>
            <br>
            My current main focus is to continue expanding my knowledge of new technologies such as cloud computing to
            broaden my horizons as a Software
            Engineer. I also spend a lot of time sharping my current skills through both personal and work related
            projects.
            My particular area of expertise is
            in Full Stack Developing. I enjoy this the most because I find it most fulfilling to see a project gradually
            become a cohesive piece of art. With
            Full Stack Developing, you not only have to tap into your inner creativity for a very satisfying front end
            user
            experience, but must maticulously
            design a fault tolerant and fortified back end.
            <br>
            <br>
            Although I do enjoy my passion for computer science, I also do enjoy going for a leisurely stroll outdoors.
            I
            always try to create and keep up with
            a healthy lifestyle. I always try to find an excuse to go to the gym everyday. When I am not at the gym or
            at my
            computer, I am usually attending to
            my animal child, a tuxedo cat named Elvis.

        </p>
    </div>
</div>
<!-- <img src="assets\images\IMG_3518.PNG" class="rounded border border-4" style="margin-left: auto; margin-right: auto; display: block; width: 50%;"/>
<p>
    In 2019 I decided to create an application that was able to make an impact on other people's lives. Since then I have made it my own mission
    to continue to use any knowledge I have to continue to engage and create new and exciting software that not only impact others, but 
    inspire others to do the same. I have had the priviledge of working in multiple working environments such as a start-up, a consultancy
    agency, and two large corporate banks.
    <br>
    <br>
    My current main focus is to continue expanding my knowledge of new technologies such as cloud computing to broaden my horizons as a Software
    Engineer. I also spend a lot of time sharping my current skills through both personal and work related projects. My particular area of expertise is
    in Full Stack Developing. I enjoy this the most because I find it most fulfilling to see a project gradually become a cohesive piece of art. With
    Full Stack Developing, you not only have to tap into your inner creativity for a very satisfying front end user experience, but must maticulously
    design a fault tolerant and fortified back end.
    <br>
    <br>
    Although I do enjoy my passion for computer science, I also do enjoy going for a leisurely stroll outdoors. I always try to create and keep up with
    a healthy lifestyle. I always try to find an excuse to go to the gym everyday. When I am not at the gym or at my computer, I am usually attending to
    my animal child, a tuxedo cat named Elvis. 

</p> -->