<!-- <p>Add button to download resume:</p>
<p>Add what positions I held in the past:</p>
<p>TCS</p>
<p>-what I accomplished</p>
<p>Wells Fargo</p>
<p>-what I accomplished</p> -->

<div class="row">
    <div class="col-1"></div>
    <div class="col-6" style="padding-left: 20px; height: 93vh; overflow-y: auto;">
        <h3 style="text-align: center; font-weight: bolder;">Work Experience</h3>
        <br><br>
        <h4>2022-current</h4>
        <h4 style="font-weight: bolder;">Software Engineer for Wells Fargo</h4>
        <p style="font-size: large;">
            Maintained software products including applications 
            and databases. My focus was on extract-transform-load (ETL) work that includes developing internal 
            Python applications using Django and Luigi 
            frameworks to handle transferring large amounts of 
            data from one database to another 
            <br><br>
            Scheduled ETL jobs and fixtures using Autosys so 
            that each ETL would run on a specific schedule laid 
            out by stakeholders 
            <br><br>
            Designed and developed UI's using APEX, Oracle 
            and setting up materialized views for each page 
            developed 
            <br><br>
            Worked in Oracle databases to create both tables 
            and views to load the data into delivered from the 
            ETL process 
            <br><br>
            Led Agile based Scrum meetings within my team that 
            focused on Sprint planning and the future efforts of 
            each developer on the team
        </p>
        <br><br>
        <h5>Skills Utilized</h5>
        <p>Python, Oracle, APEX, SQL, ETL, Agile</p>
        <br><br><br><br>
        <h4>2020-2022</h4>
        <h4 style="font-weight: bolder;">Software Engineer for Tata Consultancy Services</h4>
        <p style="font-size: large;">
            Assigned to work for Morgan Stanley through Tata 
            Consultancy Service as a Full Stack Developer 
            <br><br>
            Developed and managed in-house web app using 
            Node, Angular, and HTML/CSS that allowed Business 
            and Operations to manage and view licenses status, 
            boosting yearly revenue by 47% 
            <br><br>
            Built RESTful APIs that served data to the JavaScript 
            front-end based on user inputs 
            <br><br>
            Constructed the logic for a multistep form in Angular 
            that saves all input data at each step, which improved 
            the user experience and productivity of the 
            application 
            <br><br>
            Collaborated with an agile team of 10, and helped 
            prioritize and scope feature requests to ensure that 
            the biggest impact features were worked on initially 
            <br><br>
            Tested applications for bugs and operating speed, 
            increasing efficiency by 15% Maintained 6+ 
            applications as Tier 2 support (break-fix and data 
            changes)
        </p>
        <br><br>
        <h5>Skills Utilized</h5>
        <p>Angular, C#, Java, Typescript, HTML/CSS, SQL, Agile</p>
        <br><br><br><br>
        <h4>2019</h4>
        <h4 style="font-weight: bolder;">Software Engineer Intern for Geopipe</h4>
        <p style="font-size: large;">
            Partnered with a developer to implement the 
            company's product into a game environment using 
            Unity that was used as a demo 
            <br><br>
            Developed a game using Unity3D and C# that shows 
            off the company's product and its diverse capabilities 
            <br><br>
            Updated the rendering software used to render the 
            3D environment to create a lifelike appearance to the 
            rendering
        </p>
        <br><br>
        <h5>Skills Utilized</h5>
        <p>Unity3D, C++, HTML/CSS, Waterfall</p>
        <br><br><br><br>
    </div>
    <div class="col-4" style="padding-left: 150px;">
        <h3 style="text-align: center; font-weight: bolder;">Skills Matrix</h3>
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis" [yaxis]="chartOptions.yaxis" [title]="chartOptions.title"></apx-chart>
        
        <br>

        <h3 style="text-align: center; font-weight: bolder;">Education</h3>
        <br><br>
        <h4>2016-2020</h4>
        <h4 style="font-weight: bolder;">B.S. Computer Science and Mathematics</h4>
        <h4>Macaulay Honors College at The College of Staten Island</h4>

        <br><br><br><br>

        <h3 style="text-align: center; font-weight: bolder;">Certifications</h3>
        <br><br>
        <p style="font-size: large;">
            - Microsoft AZ-900 Cloud Certification - 2023
        </p>
    </div>
    
</div>
